p{
	color:black;
	font-family:Georgia;
}
body{
	background:white;
}
.highlight{
	background: lightyellow; 
}
.bottomline{
	text-decoration: underline;
	font-style: italic;
}
.jump:hover{
	transform: scale(1.03);
}
#main{
	color: blue;
}
#education{
	color: darkred;
}
#experience{
	color: green;
}

